# XML Showcase
1. [Data Used](https://catalog.data.gov/dataset/sat-college-board-2010-school-level-results-5c6d6)
2. Converting the XML to csv (for storage), with my proposed solution
2. Comparing the source provided csv with converted csv

# 1. Data

In [1]:
import json
import pandas as pd

In [2]:
import os

from bs4 import BeautifulSoup as xml_parser

filename = "xml/sat.xml"
file_stream = open(filename, 'r')

content = xml_parser(file_stream.read(), features="xml")
script = json.load(open("xml/sat.json"))

In [3]:
fields = script['resources'][0]['schema']['fields']

In [4]:
fields

[{'name': 'DBN', 'source': 'dbn', 'type': 'string'},
 {'name': 'School Name', 'source': 'school_name', 'type': 'string'},
 {'name': 'Number of Test Takers',
  'source': 'number_of_test_takers',
  'type': 'string'},
 {'name': 'Critical Reading Mean',
  'source': 'critical_reading_mean',
  'type': 'string'},
 {'name': 'Mathematics Mean', 'source': 'mathematics_mean', 'type': 'string'},
 {'name': 'Writing Mean', 'source': 'writing_mean', 'type': 'string'}]

In [5]:
def check_children_for_fields(tag, fields):
    row = {}
    for _field in fields:
        field = _field['source']
        if not tag.findChildren(field):
            return None
        row[_field['name']] = tag.findChildren(field)[0].text
    return row

In [6]:
rows = content.find("row")
dataset = []
for row in content.find_all("row"):
    row_data = check_children_for_fields(row, fields)
    if row_data:
        dataset.append(row_data)

In [35]:
pd.DataFrame(dataset)

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31,391,425,385
1,01M292,Henry Street School for International Studies,31,391,425,385
2,01M448,University Neighborhood High School,60,394,419,387
3,01M450,East Side Community High School,69,418,431,402
4,01M458,SATELLITE ACADEMY FORSYTH ST,26,385,370,378
...,...,...,...,...,...,...
382,32K554,ALL CITY LEADERSHIP SECONDARY,29,394,420,395
383,32K556,Bushwick Leaders High School for Academic Excel,30,357,345,351
384,75R025,South Richmond High School,10,407,421,400
385,76K460,John Jay High School,9,390,381,398
386,79X490,PHOENIX SCHOOL,7,404,423,416

In [51]:
row_name = "row"
header = pd.DataFrame(dataset).columns
for row in pd.DataFrame(dataset).values:
    row_rep = ""
    for key, value in zip(header, row):

    break

In [52]:
print(row_rep)

<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>

In [53]:
for key in row:
    break

In [18]:
row

array(['01M292', 'Henry Street School for International Studies ', '31',
       '391', '425', '385'], dtype=object)

In [13]:
dataset[0]

{'DBN': '01M292',
 'School Name': 'Henry Street School for International Studies ',
 'Number of Test Takers': '31',
 'Critical Reading Mean': '391',
 'Mathematics Mean': '425',
 'Writing Mean': '385'}

## Converting the dataset back to XML

In [100]:
def to_xml_from_pandas(dataset, row_name="row", enclosing_attr="rows"):
    xml_data = ""
    header = dataset.columns
    for row in dataset.values:
        row_rep = f"<{row_name}>\t\n"
        for key, value in zip(header, row):
            row_rep = f"<{row_name}>\n\t"
            for key, value in zip(header, row):
                key = key.lower().replace(" ", "_")
                row_rep+=f"<{key}>{value}</{key}>\n\t"
            row_rep += f"\r<{row_name}>\n"
            xml_data += row_rep
    return xml_data

In [121]:
%%timeit
xml_dataset_1 = to_xml_from_pandas(pd.DataFrame(dataset))

30.6 ms Â± 1.31 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [122]:
xml_dataset_1 = to_xml_from_pandas(pd.DataFrame(dataset))

In [102]:
def to_xml_from_list(dataset, row_name="row", enclosing_attr="rows"):
    xml_data = ""
    header = [
        'DBN', 'School Name', 'Number of Test Takers', 
        'Critical Reading Mean', 'Mathematics Mean', 'Writing Mean'
    ]
    for row in dataset:
        row_rep = f"<{row_name}>\t\n"
        for key, value in zip(header, row):
            row_rep = f"<{row_name}>\n\t"
            for key, value in zip(header, row):
                key = key.lower().replace(" ", "_")
                row_rep+=f"<{key}>{value}</{key}>\n\t"
            row_rep += f"\r<{row_name}>\n"
            xml_data += row_rep
    return xml_data

In [123]:
%%timeit
xml_dataset_2 = to_xml_from_list(dataset)

7.15 ms Â± 66.8 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [133]:
print(xml_dataset_1[:1000])

<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_t

In [134]:
print(xml_dataset_1[:1000])

<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_test_takers>
	<critical_reading_mean>391</critical_reading_mean>
	<mathematics_mean>425</mathematics_mean>
	<writing_mean>385</writing_mean>
<row>
<row>
	<dbn>01M292</dbn>
	<school_name>Henry Street School for International Studies </school_name>
	<number_of_test_takers>31</number_of_t